{{define "title"}}Myramyun{{end}}

{{define "body"}}
<div>
    <svg>
        <g>
        <path d="m0 0 v100 h300 v-100 h-300z" fill="#dae"/>
        </g>
    </svg>
    <svg>
        <g>
            <path d="m0 50 v100 h200 v-100 h-200z" fill="#eda"/>
        </g>
    </svg>
    <svg>
        <g>
            <path d="m0 100 v100 h100 v-100 h-100z" fill="#aed"/>
        </g>
    </svg>
</div>
<div>
    <h1>Hello from a Myramyun page</h1>
</div>
<script>
    const cxyo = new x6.cxyo();
    console.log(cxyo.e);
</script>
{{end}}

{{define "footer"}}Made with Hexjs{{end}}